*****   Trivia App  *****


+ A partir de esta api: https://opentdb.com/api_config.php

- Crea un sitio web que genere una trivia según los siguientes parámetros:
-! Siempre son 10 preguntas
-! Se puede modificar la dificultad
-! Se puede seleccionar el tipo de respuesta
-! Y se puede escoger la categoría.

+ Una vez seleccionado las parámetros se crea la trivia

-! Se deben mostrar las preguntas
-! Se deben mostrar las posibles respuestas
-! Se deben de contestar
-! Cada pregunta correcta vale 100 puntos ***(Mostrar puntaje final)
-! Botón de crear nueva trivia

+ Cosas a tener en cuenta:

* Diseño libre (Bootstrap, materialize, o tu propio css)
* ECMAScript 6
* Repo en GitHub (GitHub pages es un plus)

+ Extras: 
* SCSS;
* BEM
* Webpack



API base: https://opentdb.com/api.php?amount=10&category=9&difficulty=easy&type=multiple