:root{
    background-color: black;
    color: #03A63C;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #03A63C;
}


/* Color Theme Swatches in Hex */
.Northern-Lights-Beach-1-hex { color: #012340; }
.Northern-Lights-Beach-2-hex { color: #025939; }
.Northern-Lights-Beach-3-hex { color: #027333; }
.Northern-Lights-Beach-4-hex { color: #03A63C; }
.Northern-Lights-Beach-5-hex { color: #04D939; }

section{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: #012340;
}

.play-options {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    height: 70%;
}

.home-card{
    width: 25%;
    height: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: #012340;
    border-radius: 0.5em;
    background: #012340;
    border: 1px solid #011D36;
    transition: all .3s;
    box-shadow: 6px 6px 12px #011D36,
                -6px -6px 12px #2D608C;
}

.homescreenTitle{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

form{
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}


button {
    color: #03A63C;
    padding: 1rem 1.8rem;
    font-size: 18px;
    border-radius: 0.5em;
    background: #012340;
    border: 1px solid #011D36;
    transition: all .3s;
    box-shadow: 6px 6px 12px #011D36,
                -6px -6px 12px #2D608C;
   }
   
   button:hover {
    box-shadow: inset 4px 4px 12px #011D36,
             inset -4px -4px 12px #2D608C;
   }
   
   button:active {
    box-shadow: inset 4px 4px 12px #011D36,
             inset -4px -4px 12px #2D608C;
   }

   /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .home-card{
        width: 85%;
        height: 70%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        background-color: #012340;
        border-radius: 0.5em;
        background: #012340;
        border: 1px solid #011D36;
        transition: all .3s;
        box-shadow: 6px 6px 12px #011D36,
                    -6px -6px 12px #2D608C;
    }

    .homescreenTitle{
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 1rem;
        text-align: center;
        height: 40%;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: flex-start;
        align-items: center;
    }

    .play-options {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: space-around;
        align-items: center;
        height: 70%;
    }

    .game-options{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    .form-control{
        width: 100%;
        height: 33%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    
    form{
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }

}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .home-card{
        width: 85%;
        height: 70%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        background-color: #012340;
        border-radius: 0.5em;
        background: #012340;
        border: 1px solid #011D36;
        transition: all .3s;
        box-shadow: 6px 6px 12px #011D36,
                    -6px -6px 12px #2D608C;
    }

    .play-options {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: space-around;
        align-items: center;
        height: 70%;
    }

    form{
        height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    }

}


